@charset "UTF-8";

/* -----共通部分----- */

html {
    font-size: 100%;
    /* height: 100%; */
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(#4F40E6, #73A6FA);
}
h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}
h1 {
    color: #fff;
}
h2 {
    border-bottom: solid #ccc 1px;
    padding-bottom: 10px;
    letter-spacing: 1.5rem;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 800px;
    margin: 30px auto;
    padding: 40px 50px;
}

.form-area, .incomplete-area, .complete-area {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px 50px;
}

/* フォーム */
input[type="text"], input[type="date"] {
    border: 1px solid #b8b4b4;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
/* ボタン */
.btn {
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.btn:hover {
    opacity: 0.5;
}
.submit-btn, .return-btn {
    width: 100%;
    margin: 15px 0;
    padding: 8px 0;
    letter-spacing: 1.5rem;
    text-indent: 1.5rem;
}
.submit-btn {
    background-color: #E72EE7;
}

/* -----共通部分 ここまで----- */

/* btn */

.done-btn,
.not-done-btn,
.edit-btn,
.delete-btn {
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 3px;
    padding: 5px;
    width: 60px;
}
.done-btn {
    background-color: #1A41F1;
}
.not-done-btn {
    background-color: #35D61E;
}
.edit-btn {
    background-color: #F17D1E;
}
.delete-btn {
    background-color: #F02525;
}

/* 戻るbtn */

.return-btn {
    display: block;
    background-color: #1A41F1;
}

/* table */

.plan-list {
    width: 100%;
}
th, td {
    height: 40px;
}
th {
    text-align: start;
}
.plan-title {
    width: 65%;
}
.plan-due-date, .plan-completion-date {
    width: 20%;
}
.done-link-area, .edit-link-area, .delete-link-area {
    width: 5%;
}

